@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    font-family: 'Oswald';
    font-size: 1.2rem;
    color: #737e8b;
}

body {
    background-color: #fffdf7;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom:  1px solid #a8b7c8;
}

.navbar h1 {
    color: #737e8b;
    font-size: 40px;
}

.navbar .links {
    margin-left: auto;
}

.link-details{
    text-decoration: none;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #ead7c7;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

/* Blog previews */
.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #737e8b;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px #737e8b;
}

.blog-preview h2 {
    font-size: 20px;
    color: #a8b7c8;
    margin-bottom: 8px;
}

/* Blog details page */
.blog-details h2 {
    font-size: 30px;
    color: #737e8b;
    margin-bottom: 10px;
}

.blog-details div {
    margin: 20px 0;
}

/* Blog Form */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 30px;
    color: #737e8b;
    margin-bottom: 30px;
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #737e8b;
    box-sizing: border-box;
    display: block;
}
.create button {
    background: #a8b7c8;
    color: #fffdf7;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
